body {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    color: #1f1e1e;
    line-height: 21px;
}

a: active {
    color: 7f8f42;   
}

.TableTitle {
    background-color: #245dad;
    color: white;  
    font-weight: bold; 
}

.adoptSearch {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.adoptSearch select {
    margin-left: 10px;   
}

.GridResultsContainer {
    margin: 0 auto;
    text-align: center;
}

.gridResult {
    width: 200px;
    border: 1px solid #ccc;
    display: inline-table;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px 0px #ccc;
    -moz-box-shadow: 2px 2px 3px 0px #ccc;
    box-shadow: 2px 2px 3px 0px #ccc;
    margin: 10px 1%;
    padding: 10px 10px 5px 10px;
    text-align: center;
    font-size: 20px;
}

.gridResult:nth-child(odd) {
    background-color: #245dad;
}

.gridResult:nth-child(even) {
    background-color: #25813b;
}

.gridResult a img {
    width: 200px;
    border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: medium double #1f1e1e;
    margin: 0 auto;
    cursor: pointer;
}

.gridText {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: white;
}

.DetailTable td {
    display: table-cell;
}

.DetailTable img {
    display: inline-table;   
}

@media (max-width: 550px) {
    .adoptSearch {
        width: 500px;
        font-size: 15px;
        margin: 0 auto;
        text-align: center;
    }
    
    .gridResult {
        width: 400px;
        display: block;
    }
    
    .gridResult a img {
        width: 360px;   
    }
    
    .gridText {
        display: block;   
    }
    
    .DetailTable img {
        display: block;
        margin: 0 auto;
        width: 400px;
        border: medium double #245dad;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    }
    
    .DetailTable td {
        display: block;
        float: left;
        text-align: center;
    }
}
